html {
  height: 100%;
  margin-top: 0;
}

body {
  height: 100%;
  margin-top: 0;
}

.content {
  position: relative;
  min-height: 100%;
}

.header {
  background-color: blueviolet;
  color: aliceblue;
  margin-top: 0;
}
.footer {
  background-color: tomato;
  color: aliceblue;
  position: absolute;
  bottom: 0;
  margin-bottom: 0;
  width: 100%;
}

.action_button {
  padding-bottom: 150px;
}
